<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragmentos/cabecero::cabecero-seccion(titulo='Inicio')}">
</head>
<body>
<!-- Menú de navegación -->
<div th:replace="~{fragmentos/navegacion::navegacion-seccion}"/>

<!-- Contenedor principal -->
<div class="container mt-5">

    <!-- Tabla de Tickets -->
    <div class="text-center mb-4">
        <h3>Tickets</h3>
    </div>
    <table class="table w-100">
        <thead class="table-dark text-center">
        <tr>
            <th scope="col">IdTicket</th>
            <th scope="col">Estado</th>
            <th scope="col">Comentario</th>
            <th scope="col">Solicitante</th>
            <th scope="col">Asignado</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ticket: ${tickets}">
            <th th:text="${ticket.idTicket}" scope="row"></th>
            <td>
                <!-- Estado con estilos basados en el valor -->
                <span th:text="${ticket.estado}"
                      th:class="${ticket.estado == 'cerrado' ? 'badge bg-danger text-white' :
                              (ticket.estado == 'abierto' ? 'badge bg-success text-white' :
                              (ticket.estado == 'pendiente' ? 'badge bg-warning text-dark' :
                              (ticket.estado == 'terminado' ? 'badge bg-primary text-white' : 'badge')))}">
            </span>
            </td>
            <td th:text="${ticket.comentario}"></td>
            <td th:text="${ticket.solicitante}"></td>
            <td th:text="${ticket.asignado}"></td>
            <td class="text-center">
                <div>
                    <a th:href="@{/editarTicket/{id}(id=${ticket.idTicket})}"
                       class="btn btn-warning btn-sm me-3">Editar</a>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/eliminarTicket/{id}(id=${ticket.idTicket})}"
                       class="btn btn-danger btn-sm">Eliminar</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>


    <!-- Tabla de Usuarios -->
    <div sec:authorize="hasRole('ROLE_ADMIN')">
    <div class="text-center mb-4">
        <h3>Sistema de Usuarios</h3>
    </div>
    <table class="table w-100">
        <thead class="table-dark text-center">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Celular</th>
            <th scope="col">User</th>
            <th scope="col">Password</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contacto: ${contactos}">
            <th th:text="${contacto.idContacto}" scope="row"></th>
            <td th:text="${contacto.nombre}"></td>
            <td th:text="${contacto.celular}"></td>
            <td th:text="${contacto.email}"></td>
            <td th:text="${contacto.estado}"></td>
            <td class="text-center">
                <div>
                    <a th:href="@{/editar/{id}(id=${contacto.idContacto})}"
                       class="btn btn-warning btn-sm me-3">Editar</a>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/eliminar/{id}(id=${contacto.idContacto})}"
                       class="btn btn-danger btn-sm">Eliminar</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div> <!-- Fin del contenedor principal -->

<div th:replace="~{fragmentos/pie-pagina::pie-pagina-seccion}"/>
</body>
</html>